@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  font-family: Noto Serif TC;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}